{% extends "base.html.twig" %}

{% block page_title %}Gallia{% endblock %}

{% block page_content %}
{#    <script type="text/javascript" src="{{ assets("assets/js/autocompletion.js") }}" defer></script>#}

    <main>
        <div class="container-fluid">

            <div class="row my-3" style="height: 90vh">
                <div class="col-lg-3 mx-lg-2 col-md-12 col-sm-12">
                    {% if not afficher is defined %}
                    <form action="{{ route("plusCourtChemin") }}" method="post" id="form">
                        <fieldset>
                            <div class="my-5 d-flex justify-content-center">
                                <h2><strong>Itinéraire le plus court</strong></h2>
                            </div>
                            <div class="my-5">
                                <div class="form-group row">
                                    <div class="acdiv">
                                        <input name="nomCommuneDepart" type="text" class="form-control"
                                               id="nomCommuneDepart_id"
                                               placeholder="Point de départ" autocomplete="off">
                                        <div class="autocompletion" id="autocompletionD"></div>
                                    </div>
                                </div>
                                <div class="form-group row my-4">
                                    <div class="acdiv">
                                        <input name="nomCommuneArrivee" type="text" class="form-control"
                                               id="nomCommuneArrivee_id"
                                                placeholder="Point d'arrivé" autocomplete="off">
                                        <div class="autocompletion" id="autocompletionA"></div>
                                    </div>

                                </div>
                            </div>
                            {#                            <input type="hidden" name="XDEBUG_TRIGGER" value="1"> #}
                            <div class="row">
                                <div class="d-flex justify-content-center my-4 col-12">
                                    <button type="submit" class="btn btn-light">Calculer</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    {% endif %}

                    <div id="test">
                        {% if nomCommuneDepart is defined and nomCommuneArrivee is defined and distance is defined %}
                            <p> Le plus court chemin entre {{ nomCommuneDepart }} et {{ nomCommuneArrivee }}
                                mesure {{ distance }} km.</p>
                        {% endif %}
                    </div>
                    <div class="my-5" id="weather">
                        <div class="d-flex justify-content-center">
                            <h4 data-textvar="weatherHTML.titre" ><strong>Météo de la ville d'arrivée</strong></h4>
                        </div>
                        <p class="my-5"><span data-textvar="weatherHTML.name"></span></p>
                        <p><span data-textvar="weatherHTML.temp"></span></p>
                        <img data-srcvar="weatherHTML.src" alt="">
                    </div>

                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div id="map">
                    </div>

                    <div id="coordDepart">
                        {% if coordonneesDepart is defined %}
                            {{ coordonneesDepart }}
                        {% endif %}
                    </div>
                    <div id="coordArrivee">
                        {% if coordonneesArrivee is defined %}
                            {{ coordonneesArrivee }}
                        {% endif %}
                    </div>
                    <div id="coord">
                        {% if coordonneesChemin is defined %}
                            {{ coordonneesChemin }}
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

    </main>


{% endblock %}
